$border: black !default;
$background: white !default;
$text: black !default;

// Fonts
$heading-font-stack: Verdana, Geneva, sans-serif;
$body-font-stack: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
$monospace-font-stack:  ‘Courier New’, Courier, monospace;